@use '../../../styles/variables' as *;

.btn-save {
	height: calc($icon-size * 1.5);
	width: calc($icon-size * 1.5);
	background: none;
  fill: var(--primary-text);
	//add animation
}

.bi {
	height: $icon-size;
	width: $icon-size;
}