.subtask-list {
  &__item {
    &-text {
      color: var(--primary-text);
      background-color: var(--secondary-bg);
      border: none;

      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}
