@use "./variables" as *;

@mixin primary-text(
  $color: var(--primary-text),
  $size: 17,
  $family: "Poppins",
  $weight: bold,
  $lineHeight: 1.5,
  $spacing: 0.5px
) {
  color: var(--primary-text);
  font-size: $size;
  font-family: $family, sans-serif;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $spacing;
}

@mixin secondary-text(
  $color: var(--primary-text),
  $size: 14,
  $family: "Roboto",
  $weight: normal,
  $lineHeight: 1.4,
  $spacing: 0.3px
) {
  color: $color;
  font-size: $size;
  font-family: $family, sans-serif;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $spacing;
  opacity: 0.75;
  text-transform: none;
}

@mixin task {
  padding-inline: $padding-inline;
  padding-block: $padding-block;
  width: fit-content;
  height: fit-content;
  background-color: var(--primary-bg);

  border: 1px solid var(--primary-text);
  border-radius: 10px;
}

@mixin move-to-up {
  // for move inputs & save button
  position: relative;
  bottom: calc($icon-size * 1.5);
}
