@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@mixin primary-text(
  $color: var(--primary-text),
  $size: 17,
  $family: "Roboto",
  $weight: bold,
  $lineHeight: 1.5,
  $spacing: 0.5px
) {
  color: var(--primary-text);
  font-size: $size;
  font-family: $family, sans-serif;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $spacing;
}

@mixin secondary-text(
  $color: var(--primary-text),
  $size: 14,
  $family: "Roboto",
  $weight: normal,
  $lineHeight: 1.4,
  $spacing: 0.3px
) {
  color: $color;
  font-size: $size;
  font-family: $family, sans-serif;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $spacing;
  opacity: 0.75;
  text-transform: none;
}

@mixin move-to-up {
  // for move inputs & save button
  position: relative;
  bottom: calc($icon-size * 1.5);
}

@mixin control-button($size: 1.5) {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: var(--primary-bg);
  border: none;
  display: flex;

  &__svg {
    border: 1px solid var(--primary-text);
    padding: 3px;
    border-radius: 10%;
    fill: var(--primary-text);
    // border-radius: 50px;
    height: calc($icon-size * $size);
    width: calc($icon-size * $size);
    transition: transform 0.3s ease;

    &:hover {
      border-color: var(--button-bg);
      fill: var(--button-bg);
    }
  }
}

@mixin on-hover {
  &:hover {
    color: var(--button-bg);
  }
}
