@use "./variables" as *;

@mixin primary-text(
  $color: var(--primary-text),
  $size: 17,
  $family: "Poppins",
  $weight: bold,
  $lineHeight: 1.5,
  $spacing: 0.5px
) {
  color: var(--primary-text);
  font-size: $size;
  font-family: $family, sans-serif;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $spacing;
}

@mixin secondary-text(
  $color: var(--primary-text),
  $size: 14,
  $family: "Roboto",
  $weight: normal,
  $lineHeight: 1.4,
  $spacing: 0.3px
) {
  color: $color;
  font-size: $size;
  font-family: $family, sans-serif;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $spacing;
  opacity: 0.75;
  text-transform: none;
}

@mixin move-to-up {
  // for move inputs & save button
  position: relative;
  bottom: calc($icon-size * 1.5);
}

@mixin control-button($size: 1) {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: var(--primary-bg);
  border: none;
  display: flex;

  &__svg {
    border: 1px solid var(--primary-text);
    fill: var(--primary-text);
    // border-radius: 50px;
    height: calc($icon-size * $size);
    width: calc($icon-size * $size);
    transition: transform 0.3s ease;
  }
}

@mixin delete-button {
	padding-top: 2px;
  background-color: var(--secondary-bg);
  border: none;

  &__svg {
    fill: var(--primary-text);
    border: 1px solid var(--primary-text);
    height: calc($icon-size / 2);
    width: calc($icon-size / 2);
    display: block; // Зробимо SVG блочним елементом, щоб він не розтягувався по ширині
  }
}

