@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.task-list {
	width: calc(100vw - $bar-height);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: $gap;
	padding-inline: $padding-inline;
	padding-block: $padding-block;
	align-content: flex-start;
}