@use "../..//styles/variables.scss" as *;

.notes-block {
  width: $task-list-width;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: $gap;
  padding-inline: $padding-inline;
  padding-block: $padding-inline;


  &__note {
      background-color: var(--secondary-bg);
  border: 1px solid var(--primary-text);
  padding-inline: $padding-inline;
  padding-block: $padding-block;
  border-radius: $border-radius;
  color: var(--primary-text);
  }
}
