@use "../../../styles/variables" as *;

.nav {
  width: $bar-height;
  background-color: var(--primary-bg);
  height: 100vh;
  color: var(--primary-text);
  border-right: 1px solid var(--primary-text);

  // sticky to top
  position: sticky;
  box-sizing: border-box;
  top: 0;
  z-index: 10;

  &-controls {
    //for buttons
    display: flex;
    flex-direction: column;
    gap: $gap-betwin-buttons;
    align-items: center;
    padding-top: $gap-betwin-buttons;
  }
}
