@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.top-bar {
  height: $bar-height;
  background-color: var(--primary-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-text);

  &__logo {
    height: calc($icon-size * 1.3);
    fill: var(--primary-text); // Правильний спосіб задавати колір заповнення

    &:hover {
      fill: var(--button-bg); // Використовуємо fill замість fill-rule
    }
  }
}

.nav {
  &-list {
    display: flex;
    gap: $gap;
  }

  &__link {
    @include primary-text($weight: 14px);

    background-color: var(--primary-bg);
    border: none;
    color: var(--primary-text);
    padding-inline: $padding-inline;
    min-width: calc($sidebar-width + 10px);
    position: relative; 
    display: inline-block; 
		font-weight: bolder;
		font-size: large;

		@include on-hover;

    &[data-active="true"] {
      color: var(--button-bg);

      &::after {
        content: '';
        position: absolute;
        bottom: -5px; 
        left: calc($padding-inline);
        width: calc(100% - ($padding-inline * 2));
        height: 3px;
        background-color: var(--button-bg);
        border-radius: 2px;
      }
    }
  }
}



.btn {
  background: none;
  border: 1px solid;
  border-radius: 50%;
  height: calc($icon-size * 2);
  width: calc($icon-size * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-text);
  margin-right: $padding-inline;

      &:hover {
      fill: var(--button-bg); // Використовуємо fill замість fill-rule
    }
}
